## 01-03. 곱셈(mul, rmul)

In [1]:
# DataFrame.mul(other, axis='columns', level=None, fill_value=None)
# DataFrame.rmul(other, axis='columns', level=None, fill_value=None)

### 개요
- sub 함수는 DataFrame에 다른 데이터프레임이나, Series, 스칼라 등 데이터를 곱하는 메서드
- 단순 df - 다른df 등의 계산과 차별화되는 것은 fill_value 인수를 통해 계산 불가한 값을 채워 넣는다는 것. (add와 동일)

### 사용법
#### 기본 사용법
```python
df.mul(other, axis='columns', level=None, fill_value=None)
```
- other: 데이터프레임이나, Series, 스칼라 등 데이터가 올 수 있음. 곱할 값임
- axis: 뺄 레이블을 설정. 0은 행(index), 1은 열.
- level: multiIndex에서 계산할 Index의 레벨
- fill_value: NaN값 등 누락 요소를 계산 전에 대체

In [2]:
import pandas as pd

data = [[1,10,100],[2,20,200],[3,30,300]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [4]:
# 스칼라 값 곱하기
result = df.mul(2)
print(result)

      col1  col2  col3
row1     2    20   200
row2     4    40   400
row3     6    60   600

In [5]:
result = df*2
print(result)

      col1  col2  col3
row1     2    20   200
row2     4    40   400
row3     6    60   600

In [6]:
# 다른 DataFrame 객체 곱하기
data2  = [[3],[4],[5]]
df2 = pd.DataFrame(data=data2,index=['row1','row2','row3'],columns=['col1'])
print(df2)

      col1
row1     3
row2     4
row3     5

In [7]:
result = df.mul(df2)
print(result)

      col1  col2  col3
row1     3   NaN   NaN
row2     8   NaN   NaN
row3    15   NaN   NaN

In [8]:
result = df.mul(df2, fill_value=0)
print(result)

      col1  col2  col3
row1     3   0.0   0.0
row2     8   0.0   0.0
row3    15   0.0   0.0