## 01-05. 나머지(mod, rmod)

In [1]:
# DataFrame.mod(other, axis='columns', level=None, fill_value=None)
# DataFrame.rmod(other, axis='columns', level=None, fill_value=None)

### 개요
- mod 함수는 DataFrame에 다른 데이터프레임이나, Series, 스칼라 등 데이터를 나눴을 때의 나머지를 반환하는 메서드
- 단순 df - 다른df 등의 계산과 차별화되는 것은 fill_value 인수를 통해 계산 불가한 값을 채워 넣는다는 것. (add와 동일)

### 사용법
#### 기본 사용법
- df.mod(other, axis='columns', level=None, fill_value=None)
    - other: 데이터프레임이나, Series, 스칼라 등 데이터가 올 수 있음. 나눈 나머지의 값임
    - axis: 뺄 레이블을 설정. 0은 행(index), 1은 열.
    - level: multiIndex에서 계산할 Index의 레벨
    - fill_value: NaN값 등 누락 요소를 계산 전에 대체

In [11]:
import pandas as pd

data = [[1,10,100],[2,20,200],[3,30,300]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [12]:
# 스칼라 값 나눈 나머지 구하기
result = df.mod(7)
print(result)

      col1  col2  col3
row1     1     3     2
row2     2     6     4
row3     3     2     6

In [13]:
result = df%7
print(result)

      col1  col2  col3
row1     1     3     2
row2     2     6     4
row3     3     2     6

In [14]:
# 다른 DataFrame 객체 나누기
data2  = [[3],[4],[5]]
df2 = pd.DataFrame(data=data2,index=['row1','row2','row3'],columns=['col1'])
print(df2)

      col1
row1     3
row2     4
row3     5

In [15]:
result = df.mod(df2)
print(result)

      col1  col2  col3
row1     1   NaN   NaN
row2     2   NaN   NaN
row3     3   NaN   NaN

In [16]:
result = df.mod(df2, fill_value=1)
print(result)

      col1  col2  col3
row1     1   0.0   0.0
row2     2   0.0   0.0
row3     3   0.0   0.0